<div class="footer">
    <p>
        &copy; {{site.time | date: '%Y' }} {{ site.title }}. All rights reserved. <br> Created by <span>ahmadauliafahlevi</span>
        <a href="https://www.instagram.com/ahmadauliafahlevi/"><i class="fab fa-instagram" style="color: white;"></i></a>
        <a href="https://www.tiktok.com/@ahmadauliafahlevi_/"><i class="fab fa-tiktok" style="color: white;"></i></a>
        <a href="https://github.com/lepii1/" class="social-icon"><i class="fab fa-github" style="color: white;"></i></a>
    </p>
</div>